.empty-playlist{
    width: 20rem;
    height: 20rem;
    background-color: var(--purple-main-1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-playlist::after{
    content:"";
    width: 20rem;
    height:5rem;
    background-color: var(--purple-main-2);
    width: 20rem;
    position:absolute;
    top:0;

}

.empty-playlist img{
    width: 20rem;
    height: 20rem;
}

.play-icon{
    position: absolute;
    font-size: 4rem;
    color: var(--yellowGold);
    top:1rem;
}

.playlist-count{
    position: absolute;
    font-size: 8rem;
    color: var(--yellowGold-tp);
    bottom:1rem;

}

.empty-playlist:hover {
    background-color: var(--purple-main-2);

}

.playlists-wrapper{
    margin:4rem 4rem 10rem;
    min-height: 60rem;
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}

.playlist-title{
    padding: 0 5px;
    display: flex;
    background-color: var(--yellowGold-tp);
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--purple-main);
}

.playlist-title span{
    background-color: var(--purple-main-1);
    border-radius: 2rem;
    /* font-size: 2.5rem; */
    margin-left: auto;
    cursor: pointer;
}

.empty-playlist:hover .play-icon{
    animation: updown 4s ease ;
}

@keyframes updown {
    10% {
      transform: translateY(100%);
    }
  }
