.tab-fullWrapper{
    padding: 5rem 0 5rem 0;
    margin:6rem auto;
    width:min(600px,70vw);
}

.tab-wrapper{
    height: 100%;
    width: 100%;
    background-color: var(--purple-main);
        background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
    color: var(--yellowGold);
}

.tab-head{
    width: 15rem;
    text-align: center;
    border-bottom: 2px solid var(--gold1);
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
    color: var(--white); 
    padding-top:2rem ;
    margin: auto;
}

.tab-head:hover{
    color: var(--tomatoOrange);
}

.input-wrapper{
    position: relative;
    padding: 4rem 4rem 1.2rem;
}

/* .input-wrapper input{
    color: var(--yellowGold);
} */

.text-input,.text-label{
    font-size: 1.8rem;
    font-weight: 500;
}

.input-wrapper .text-input{
    margin-bottom: 1.6rem;
    border: none;
    outline-color: var(--purple-main);
    height: 3rem;
}

.input-wrapper .text-label{
    margin-bottom: 0.6rem;
}

.link-btn{
    text-decoration: none;
    color: var(--tomatoOrange);
}

.password-wrapper{
    margin: 0 4rem 1rem 4rem;
    justify-content: space-between;
    font-size: 1.6rem;
}

.sign-link{
    text-align: center;
    padding-bottom:3rem ;
}

.sign-link a{
    color: var(--yellowGold);
    font-size: 1.8rem;
    font-weight: 400;
    border-bottom:1px solid var(--yellowGold) ;
   
}

.eye-icon{
    position: absolute;
    top: 73.8%;
    right: 5rem;
    color: var(--yellowGold);
    cursor: pointer;
}
.eye-icon1{
  position: absolute;
  top: 54.5%;
  right: 5rem;
  color: var(--tomatoOrange);
  cursor: pointer;
}

.login-btn ,.test-btn{
    margin: 2rem auto 1rem;
    color: var(--yellowGold);
}

/*Login Button CSS  */

.btn-primary{
    /* background-color: var(--purple-main); */
    border: 2px solid var(--yellowGold);
    border-radius: 0;
    color: var(--gold1);
    font-size: 1.7rem;
    padding: 0.8rem 1.4rem;
    text-transform: capitalize;
    text-transform: uppercase;
    width: 35rem;
    max-width: 76%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary:hover{
    background-color: var(--purple-main-1);
}