.tab-fullWrapper{
    padding: 5rem 0 5rem 0;
    margin:6rem auto;
    width:min(600px,70vw);
}

.tab-wrapper{
    height: 100%;
    width: 100%;
    background-color: var(--purple-main);
    background: -webkit-linear-gradient(to right, var(--purple-main), var(--tomatoOrange)); 
    background: linear-gradient(to right, var(--purple-main), var(--tomatoOrange));
    color: var(--yellowGold);
}

.tab-head{
    width: 15rem;
    text-align: center;
    border-bottom: 2px solid var(--gold1);
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
    color: var(--white); 
    padding-top:2rem ;
    margin: auto;
}

.tab-head:hover{
    color: var(--tomatoOrange);
}

.input-wrapper{
    position: relative;
    padding: 4rem 4rem 1.2rem;
}

/* .input-wrapper input{
    color: var(--yellowGold);
} */

.text-input,.text-label{
    font-size: 1.8rem;
    font-weight: 500;
}

.input-wrapper .text-input{
    margin-bottom: 1.6rem;
    border: none;
    outline-color: var(--purple-main);
    height: 3rem;
}

.input-wrapper .text-label{
    margin-bottom: 0.6rem;
}

.link-btn{
    text-decoration: none;
    color: var(--tomatoOrange);
}

.password-wrapper{
    margin: 0 4rem 1rem 4rem;
    justify-content: space-between;
    font-size: 1.6rem;
}

.sign-link{
    text-align: center;
    padding-bottom:3rem ;
}

.sign-link a{
    color: var(--yellowGold);
    font-size: 1.8rem;
    font-weight: 400;
    border-bottom:1px solid var(--yellowGold) ;
   
}

.eye-icon{
    position: absolute;
    top: 73.8%;
    right: 5rem;
    color: var(--yellowGold);
    cursor: pointer;
}
.eye-icon1{
  position: absolute;
  top: 54.5%;
  right: 5rem;
  color: var(--tomatoOrange);
  cursor: pointer;
}

.login-btn ,.test-btn{
    margin: 2rem auto 1rem;
    color: var(--yellowGold);
}

/*Login Button CSS  */
.btn-slide{
    border: none;
    width: 35rem;
    max-width: 90%;
    height: 2.1em;
    border-radius: 2.1em;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    z-index: 2;
    border: 2px solid var(--yellowGold);
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn-slide::before{
    content: "";
    width: 0;
    height: 2.2em;
    border-radius: 2.1em;
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(to right,var( --purple-main) 0%,var(--gold1) 100%);
    display: block;
    transition: .5s ease;
    z-index: -1;

}

.btn-slide:hover::before{
    width: 40rem;
}
