.tabsWrapper{
    margin: 8rem auto 2rem;
    width: min(400px,70vw);
    height: min(60vh,200px);
    /* color: var(--yellowGold); */
    border:2px solid var(--blackl2);
    border-radius:6px;
    color:var(--pink5);
    
}

.tabs{
    color: var(--pink5);
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--purple-main);
    font-size: 1.8rem;
    font-weight: 600;
}

.tabs {
    cursor: pointer;
    padding: 1rem;
    
}

.tab:hover{
    color: var(--purple-main);
}

.tab.active{
    color: var(--purple-main);
}

.tabsContent{
   font-size: 1.5rem;
   font-weight: 500;
   padding: 2rem ;
   color: var(--purple-main);
}

.tabBtn{
    color: var(--purple-main);
    font-weight: 500;
    font-size: 1.7rem;
    border: 2px solid var(--purple-main);
    border-radius: 0.2rem;
}

.tabBtn:hover{
    background-color: var(--purple-main-2);
}