.videosWrapper{
    margin:6rem 4rem 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    row-gap: 4rem;
    column-gap: 3rem;
    min-height: 60rem;
    position: relative;
}

.videoWrapper{
    position: relative;
    display: grid;
    max-width:300px ;
    height: 250px;
}

.videoBackground{
    max-width: 300px;
}

.videoImg{
    height:250px;
    width:300px;
    object-fit: contain cover;
}

.videoTitle,.videoBackground{
    grid-column: 1/2;
    grid-row: 1/2;
}

.videoTitle{
    color: var( --yellowGold);
    padding: 1rem;
    align-self: start;
}

.videoTitle h2{
    font-size: 1.8rem;
}

.videoCreator{
    margin: 1rem;
    grid-area: 1/-1;
    align-self: end;
    justify-self: end ;
    color: var(--yellowGold);
}

.videoIcon{
    display: none;
    position: relative;
}

.videoWrapper .videoIcon{
    display: block;
    margin: 1rem;
    grid-area: 1/-1;
    align-self: end;
    justify-self: start;
    color: var(--yellowGold);
    cursor: pointer;
}

.videoWrapper:hover{
    transform: scale(1.06);
    transition: 180ms ease-in-out 220ms;
}

.videoIcon span{
    padding-right: 2rem;
}

.cross-box{
    width: 4rem;
    height: 4rem;
    background-color: var(--purple-main-1);
    border-radius: 50%;
    margin: 1rem;
    grid-area: 1/-1;
    align-self: end;
    justify-self:start;
    color: var(--yellowGold); 
}

.cross-icon{
    font-size: 3rem;
    font-weight: 600;
}

.activeIfNotFound{
    color: var(--tomatoOrange);
}

.modal-wrapper{
    position: fixed;
    background-color: var(--blackl1);
    z-index: 10;
    width: 100%;
   left:0;
   right:0;
   bottom:0;
   height:100%;
}

.modal-content-wrapper{
    margin-top:15rem;
}

.modal-form{
    height: 10rem;
    text-align: center;
    padding-top: 2rem;
}

.modal-form input{
    outline: none;
    padding: 1rem;
    border: 2px solid var(--purple-main);
}

.modal-form button{
    margin-left: 2rem;
    padding: 1rem;
    color: var(--yellowGold);
    width: 10rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--purple-main);
}

.modal-close-btn{
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    bottom: 1rem;
    left: 50%;
    color: var(--yellowGold);
    background-color: var(--purple-main);
    border-radius: 50%;
}

.playlists-wrapper{
    margin: auto;
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left:5rem;
    min-height: 5rem;
    max-width: 30rem;
    background-color: var(--purple-main-1);

}

.playlist-title{
    text-align:center;
    color: var(--yellowGold);
    font-size: 1.6rem;
    font-weight: 600;
    display:flex;
    gap:1rem;
}

.playlist-handle{
    cursor:pointer;
}  


@media only screen and (max-width:1300px) {

    .videoWrapper .videoIcon{
        display: block;
        margin: 1rem;
        grid-area: 1/-1;
        align-self: end;
        justify-self: start;
        color: var(--yellowGold);
        cursor: pointer;
    } 

}

.play-icon-main{
    display:none;
}

.videoBackground:hover .play-icon-main{
    display:block;
    position: absolute;
    font-size: 4rem;
    color: var(--yellowGold-tp);
    top:105px;
    left:130px;
    animation: slidein 1s ease ;
    cursor:pointer;
    font-size:6rem;
}

@keyframes slidein {
    from {
        margin-left: 50%;
      }
    
      to {
        margin-left: 0%;
      }
}
