.videosWrapper{
    margin:6rem 9rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    row-gap: 4rem;
    column-gap: 3rem;
    min-height: 60rem;
}

.videoWrapper{
    position: relative;
    display: grid;
    max-width:300px ;
    height: 250px;
   
}

.videoBackground{
    max-width: 300px;
}

.videoImg{
    height: 250px;
    width: 300px;
    object-fit: contain cover;
    
}

.videoTitle,.videoBackground{
    grid-column: 1/2;
    grid-row: 1/2;
}

.videoTitle{
    color: var( --yellowGold);
    padding: 1rem;
    align-self: start;
}

.videoTitle h2{
    font-size: 1.8rem;
}

.videoCreator{
    margin: 1rem;
    grid-area: 1/-1;
    align-self: end;
    justify-self: end ;
    color: var(--yellowGold);
}

.videoIcon{
    display: none;
    position: relative;
}

.videoWrapper:hover .videoIcon{
    display: block;
    margin: 1rem;
    grid-area: 1/-1;
    align-self: end;
    justify-self: start;
    color: var(--yellowGold);
    cursor: pointer;
}

.videoWrapper:hover{
    transform: scale(1.06);
    transition: 180ms ease-in-out 220ms;
}

.videoIcon span{
    padding-right: 2rem;
}

.cross-box{
    width: 4rem;
    height: 4rem;
    background-color: var(--purple-main-1);
    border-radius: 50%;
    margin: 1rem;
    grid-area: 1/-1;
    align-self: end;
    justify-self:start;
    color: var(--yellowGold); 
}

.cross-icon{
    font-size: 3rem;
    font-weight: 600;
}

.videoWrapper:hover .modal-wrapper{
    color: white;
    background-color: red;
    width: 5rem;
    height: 5rem;
    z-index: 40;
    position: absolute;
}

/* .active{
    color: red;
} */