.videosWrapper{
    margin:6rem 4rem 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    row-gap: 4rem;
    column-gap: 3rem;
    min-height: 60rem;
    position: relative;
}

.videoWrapper{
    position: relative;
    display: grid;
    max-width:300px ;
    height: 250px;
    /* background-color:var(--pink5);
    background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
    border-radius:1rem; */
}

.videoBackground{
    max-width: 300px;
}

.videoImg{
    /* height: 200px;
    width: 260px; */
    height:250px;
    width:300px;
    object-fit: contain cover;
    /* padding:1rem;
    border-radius:100%; */
}

.videoTitle,.videoBackground{
    grid-column: 1/2;
    grid-row: 1/2;
}

.videoTitle{
    color: var( --yellowGold);
    padding: 1rem;
    align-self: start;
}

.videoTitle h2{
    font-size: 1.8rem;
}

.videoCreator{
    margin: 1rem;
    grid-area: 1/-1;
    align-self: end;
    justify-self: end ;
    color: var(--yellowGold);
}

.videoIcon{
    display: none;
    position: relative;
}

.videoWrapper:hover .videoIcon{
    display: block;
    margin: 1rem;
    grid-area: 1/-1;
    align-self: end;
    justify-self: start;
    color: var(--yellowGold);
    cursor: pointer;
}

.videoWrapper:hover{
    transform: scale(1.06);
    transition: 180ms ease-in-out 220ms;
}

.videoIcon span{
    padding-right: 2rem;
}

.cross-box{
    width: 4rem;
    height: 4rem;
    background-color: var(--purple-main-1);
    border-radius: 50%;
    margin: 1rem;
    grid-area: 1/-1;
    align-self: end;
    justify-self:start;
    color: var(--yellowGold); 
}

.cross-icon{
    font-size: 3rem;
    font-weight: 600;
}

.videoIcon .activeIfNotFound{
    color: var(--tomatoOrange);
}

.videosWrapper .modal-wrapper{
    position: fixed;
    top:10rem;
    left: 50%;
    margin-left: -40%;
    background-color: var(--purple-main-1);
    z-index: 20;
    width: 80%;
}

.modal-form{
    height: 10rem;
    text-align: center;
    padding-top: 2rem;
}

.modal-form input{
    outline: none;
    padding: 1rem;
    border: 2px solid var(--purple-main);
}

.modal-form button{
    margin-left: 2rem;
    padding: 1rem;
    color: var(--yellowGold);
    width: 10rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--purple-main);
}

.modal-close-btn{
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    bottom: 1rem;
    left: 50%;
    color: var(--yellowGold);
    background-color: var(--purple-main);
    border-radius: 50%;
}

.playlists-wrapper{
    margin: auto;
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left:5rem;
    min-height: 5rem;
    max-width: 30rem;
    background-color: var(--purple-main);

}

.playlist-title{
    text-align:center;
    color: var(--yellowGold);
    font-size: 1.6rem;
    font-weight: 600;
    display:flex;
    gap:1rem;
    /* align-items:center; */
}

.playlist-handle{
    cursor:pointer;
}


@media only screen and (max-width:1300px) {

    .videoWrapper .videoIcon{
        display: block;
        margin: 1rem;
        grid-area: 1/-1;
        align-self: end;
        justify-self: start;
        color: var(--yellowGold);
        cursor: pointer;
    }

}
