
.header {
    z-index: 10;
    height: 8rem;
    min-width: 300px;
    display: flex;
    position: relative;
    box-shadow:  10px 10px 20px var(--purple-main-2),
             -10px -10px 20px #f0f0f0;
}

.logo-name {
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--purple-main);
    /* margin: 2rem 0 0.5rem 0; */
}

.logo-name:hover {
    color: var(--yellowGold);
}

.logo-icon{
    display:inline-block;

    animation-name:rotate;
    animation-duration:40s;
    animation-iteration-function:infinite;
    animation-timing-function:linear;
}

.logo-icon , .logo-icon:before , .logo-icon:after{
    position:absolute;
    /* top:2rem; */
    display:inline-block;
    width:76px;
    height:12px;
    border-radius:50%;
    border:3px solid var(--purple-main-2);
}

.logo-name,.nucleo , .logo-icon , .logo-icon:before , .logo-icon:after{
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo-icon:before ,.logo-icon:after{
    content:"";
}

.logo-icon:after{
    transform:rotate(-75deg);
}

.logo-icon:before{
    transform:rotate(75deg);
}

@keyframes rotate{
    100%{
      transform:rotate(360deg);
    }
}

.logo-head{
    background: none;
    position:relative;
    width:150px;
    height:110px;

    display: flex;
    align-items: center;
    justify-content:center;
}

.search-bar {
    display: flex;
    --size: 35px;
    border: 2px solid var(--purple-main);
    display: flex;
    align-items: center;
    height: var(--size);
    padding: 0.2rem;
    position: relative;
    transition: width 300ms ease-in-out;
    overflow: hidden;
    margin: 1.5rem 2rem 0.5rem 20rem;
    width: 20%;
    border-radius: 10rem;
}

.search-input {
    height: 100%;
    font-size: 1.6rem;
    padding: 0 0.5em;
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* opacity:0; */
    /* cursor: pointer; */
    outline: 0;
}


/* .search-input:focus{
    outline: 0;
    opacity: 1;
    cursor: initial;
} */

/* .search-bar:focus-within{
    width:100%;
} */

.search-bar .submit-btn {
    color: var(--yellowGold);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: calc(var(--size));
    height: calc(var(--size));
    margin-left: auto;
    background-color: var(--purple-main);
    border: 1px solid var(--purple-main);

}


.nav-toggle  {
    /* position: absolute;
    top: 2rem;
    right: 2rem;
    min-width: 4rem;
    min-height: 4rem;
    background-color: var(--sky-blue); */
    display: none;
}
.nav-toggle-label {
    display: none;
}
.video-actions{
    column-gap: 3rem;
    margin-left: 8rem;
    margin-top: 1.5rem;
}
.video-actions a{
    color: var(--purple-main);
}

.video-actions a .icon{
    background-color: var(--purple-main-2);
    border-radius: 100%;
    padding: 1rem;
}

.video-actions a:hover{
    color: var(--blackl1);
}

/* responsive navigation*/

@media only screen and (max-width:1300px) {

    .search-bar {
        width: var(--size);
        margin:2rem 8rem 2rem  auto;
    }
   
    .search-input {
        opacity: 0;
        cursor: pointer;
    }

    .search-input:focus {
        outline: 0;
        opacity: 1;
        cursor: initial;
    }

    .search-bar:focus-within {
        width: 45%;
    }

  
    .nav-toggle  {
        position: absolute;
        top: 2rem;
        right: 2rem;
        min-width: 4rem;
        min-height: 4rem;
        background-color: var(--sky-blue);
    }
    
    .nav-toggle-label {
        position: absolute;
        top: 2rem;
        right: 2rem;
        height: 4rem;
        display: flex;
        align-items: center;
        min-width: 4rem;
        background-color: var(--purple-main-1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }
    
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }
    
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        background-color: var(--purple-main);
        display: block;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }
    
    .nav-toggle-label span::before {
        bottom: 7px;
    }
    
    .nav-toggle-label span::after {
        top: 7px;
    }
    

    .video-actions{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 6.5rem;
        padding-top: 2rem;
        gap: 1em;
        right: 0;
        text-align: right;
        font-size: 1.4rem;
        text-transform: uppercase;
        background-color: var(--purple-main);
        background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
        width: 100%;
    }

    .video-actions a{
        color: var(--yellowGold);
    }

    
    .video-actions .video-actions-title{
        padding: 1rem;
        font-size: 1.4rem;
    }
    
    .video-actions{
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    .nav-toggle:checked~.video-actions a {
        opacity: 1;
        transition: opacity 150ms ease-in-out 150ms;
    }
    .nav-toggle:checked~.video-actions{
        transform: scale(1,1);
        opacity: 1;
        transition: opacity 150ms ease-in-out 150ms;
    }

}