@import url(styles/utils.css);

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size:1.4rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  text-decoration: none;
  cursor: pointer;
}

button{
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

